
@import 'flowbite';

/* Base */
@import './base/variables.css';

/* Layouts */
@import './layouts/sidebar.css';
@import './layouts/header.css';
@import './layouts/dashboard.css';

/* Components */
@import './components/buttons.css';
@import './components/cards.css';
@import './components/tables.css';
@import './components/forms.css';

@import './components/modals.css';
@import './components/alerts.css';
@import './components/badges.css';
@import './components/pagination.css';
@import './components/tooltips.css';
@import './components/dropdowns.css';
@import './components/navs.css';
@import './components/typography.css';
@import './components/avatars.css';
@import './components/progress-bars.css';
@import './components/tabs.css';

/* modules */
@import './modules/perfilEntrepreneur.css';
@import './modules/products.css';
@import './modules/chat.css';
@import './modules/costos.css';
@import './modules/ventas.css';
@import './modules/chat.css';
@import './modules/client_products.css';
@import './modules/landing.css';
